{% extends 'base.html' %}

{% block content %}

<div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="stat-box bg1">
                    <h3>{{ vehicles_parked }}</h3>
                    <p>Vehicle Parked</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="stat-box bg2">
                    <h3>{{ departed_vehicles }}</h3>
                    <p>Departed Vehicles</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="stat-box bg3">
                    <h3>{{ available_category }}</h3>
                    <p>Available Category</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="stat-box bg4">
                    <h3>₹ {{ total_earnings }}</h3>
                    <p>Total Earnings</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="stat-box bg5">
                    <h3>{{ total_records }}</h3>
                    <p>Total Records</p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="stat-box bg6">
                    <h3>{{ total_slots }}</h3>
                    <p>Total Parking Slots</p>
                </div>
            </div>
        </div>

{% endblock %}
 