{% extends 'base.html' %}

{% block content %}

<div class="card">
            <div class="card-header">
                Search Data |
                <small>Only the records of the last 30 days are available here</small>
            </div>

            <div class="card-body">
                <div class="row justify-content-center mb-4">
                    <div class="col-12 col-md-8">
                        <form method="GET">
                            <div class="input-group">
                                <input type="text"
                                name="vehicle_number"
                                class="form-control"
                                placeholder="Enter vehicle number">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Vehicle Number</th>
                                <th>Type</th>
                                <th>Area</th>
                                <th>Charge</th>
                                <th>Arrival Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in vehicle_data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.vehicle_number }}</td>
                                <td>{{ i.vehicle_type }}</td>
                                <td>{{ i.area_number }}</td>
                                <td>₹ {{ i.charges }}</td>
                                <td>{{ i.arrival_time }}</td>
                                <td>
                                    {% if i.parking_status == 'Parked' %}
                                    <span class="badge-parked">
                                        {{ i.parking_status }}
                                    </span>
                                    {% else %}
                                    <span class="badge-leaved">
                                        {{ i.parking_status }}
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7">
                                    No Vehicle Found
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

{% endblock %}
 